@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7lXcf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eSZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wsf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5Oew.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFpXw.ttf) format('truetype');
}
:root {
  --color-green-high: #164A41;
  --color-green-mid: #4D774E;
  --color-green-low: #9DC88D;
  --color-highlight: #F1B24A;
  --color-white: #FFFFFF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-highlight);
  border-bottom: var(--color-highlight) 3px solid;
}
.container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.section-abas {
  padding: 40px 0;
}
#inicio {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, var(--color-green-high), var(--color-green-mid));
}
#inicio header {
  width: 100%;
  max-width: 1216px;
  height: 15%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  align-items: center;
  gap: 60px;
}
#inicio header #logo {
  height: 50px;
}
#inicio header #menu {
  list-style: none;
  display: flex;
  gap: 30px;
  font-weight: 600;
}
#inicio header #menu li {
  cursor: pointer;
}
#inicio header #menu li a {
  text-decoration: none;
  color: var(--color-white);
  padding: 5px 0;
  border-bottom: transparent 2px solid;
  transition: 0.3s;
}
#inicio header #menu li a:hover {
  color: var(--color-highlight);
  border-bottom: #F1B24A 2px solid;
}
#inicio #banner {
  width: 100%;
  max-width: 1216px;
  height: 85%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  align-items: center;
  gap: 60px;
}
#inicio #banner #banner-texto {
  height: 100%;
  max-width: 720px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#inicio #banner #banner-texto h1 {
  color: var(--color-highlight);
  font-family: "merriweather", serif;
  margin: 40px 0;
  font-size: 72px;
  font-weight: 700;
}
#inicio #banner #banner-texto h2#pergunta {
  font-size: 38px;
  max-width: 400px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  border: none;
}
#inicio #banner #banner-texto h2#pergunta span {
  font-size: 38px;
  color: var(--color-highlight);
}
#inicio #banner #banner-texto p {
  max-width: 500px;
  text-align: justify;
}
#inicio #banner #banner-texto button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
#inicio #banner #banner-texto button:hover {
  background-color: var(--color-highlight);
  color: var(--color-white);
}
#inicio #banner #banner-imagem {
  width: 40%;
  max-width: 800px;
  height: 85%;
  background: linear-gradient(to right, var(--color-green-low), var(--color-green-mid));
  border-top-left-radius: 100px;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inicio #banner #banner-imagem img {
  width: 80%;
  position: absolute;
  bottom: 0;
}
#o-que-fazemos #container-o-que-fazemos #container-o-que-fazemos-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#o-que-fazemos #container-o-que-fazemos #container-o-que-fazemos-texto p {
  text-align: justify;
}
#formulario {
  background-color: var(--color-green-high);
}
#formulario #container-formulario {
  width: 100%;
}
#formulario #container-formulario form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-white);
}
#formulario #container-formulario form .box-formulario-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#formulario #container-formulario form .box-formulario-input input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#formulario #container-formulario form .box-formulario-input textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  resize: none;
}
#formulario #container-formulario form .box-formulario-input select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#formulario #container-formulario form .box-formulario-endereco {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#formulario #container-formulario form .box-formulario-endereco #logradouro {
  width: 100%;
  display: flex;
  gap: 20px;
}
#formulario #container-formulario form .box-formulario-endereco #logradouro .box-formulario-input:first-child {
  width: 80%;
}
#formulario #container-formulario form .box-formulario-endereco #logradouro .box-formulario-input:last-child {
  width: 20%;
}
#formulario #container-formulario form .box-formulario-endereco #complementos {
  width: 100%;
  display: flex;
  gap: 20px;
}
#formulario #container-formulario form .box-formulario-endereco #complementos .box-formulario-input:nth-child(1) {
  width: 40%;
}
#formulario #container-formulario form .box-formulario-endereco #complementos .box-formulario-input:nth-child(2) {
  width: 40%;
}
#formulario #container-formulario form .box-formulario-endereco #complementos .box-formulario-input:nth-child(3) {
  width: 20%;
}
#formulario #container-formulario form .box-formulario-contato {
  width: 100%;
  display: flex;
  gap: 20px;
}
#formulario #container-formulario form input[type="submit"] {
  width: 85%;
  max-width: 300px;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
#formulario #container-formulario form input[type="submit"]:hover {
  background-color: var(--color-highlight);
  color: var(--color-white);
}
#sobre #container-sobre {
  display: flex;
  gap: 40px;
}
#sobre #container-sobre #container-sobre-texto {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#sobre #container-sobre #container-sobre-texto p {
  text-align: justify;
}
#sobre #container-sobre img {
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}
#depoimentos #container-depoimentos {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
#depoimentos #container-depoimentos .box-depoimento {
  width: 33.3%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-green-high);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
}
#depoimentos #container-depoimentos .box-depoimento img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
}
#depoimentos #container-depoimentos .box-depoimento .nome-depoimento {
  width: 100%;
  text-align: center;
  color: var(--color-highlight);
  font-size: 18px;
  font-weight: 600;
}
#depoimentos #container-depoimentos .box-depoimento .texto-depoimento {
  flex-grow: 1;
}
#contato {
  background-color: var(--color-green-mid);
}
#contato #container-contato {
  display: flex;
  gap: 40px;
  color: var(--color-white);
}
#contato #container-contato p {
  width: 50%;
  text-align: justify;
}
#contato #container-contato #container-contato-vias {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contato #container-contato #container-contato-vias .box-contato-via {
  display: flex;
  align-items: center;
  gap: 10px;
}
#contato #container-contato #container-contato-vias .box-contato-via img {
  width: 25px;
}
footer {
  width: 100%;
  background-color: var(--color-green-high);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: var(--color-white);
  padding: 10px 0;
}
